@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 220 9% 7%;

    --muted: 220 14% 96%;
    --muted-foreground: 220 9% 46%;

    --popover: 0 0% 100%;
    --popover-foreground: 220 9% 7%;

    --card: 210deg 40% 96.08%;
    --card-foreground: 220 9% 7%;

    --header: 220 14% 96%;
    --header-foreground: var(--foreground);

    --border: 220deg 13.04% 90.98%;
    --input: 0 0% 100%;

    --primary: 180 100% 37%;
    --primary-foreground: 0 0% 100%;

    --secondary: 220 13% 91%;
    --secondary-foreground: 220 9% 7%;

    --tertiary: 220 13% 91%;
    --tertiary-foreground: 220 9% 7%;

    --accent: 210 100% 96%;
    --accent-foreground: 210 100% 33%;

    --destructive: 0 100% 65%;
    --destructive-foreground: 0 0% 100%;

    --ring: 180 100% 37%;

    --primary-accent: 180 100% 37%;
    --hover-primary-accent: 180 100% 29%;

    --muted-green: 180 100% 41%;
    --muted-magenta: 180 100% 41%;
    --muted-blue: 180 100% 41%;
    --muted-gray: 220 14% 96%;

    --accent-light-green: 210 100% 96%;
    --accent-dark-green: 210 100% 33%;

    --light-red: 0 100% 65%;
    --dark-red: 0 100% 65%;

    --light-yellow: 180 100% 41%;
    --dark-yellow: 180 100% 37%;

    --light-green: 210 100% 96%;
    --dark-green: 210 100% 33%;

    --light-blue: 210 100% 96%;
    --dark-blue: 210 100% 33%;

    --accent-light-blue: 210 100% 96%;
    --accent-dark-blue: 210 100% 33%;
    --radius: 0.625rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 220 9% 7%;
    --sidebar-primary: 180 100% 37%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 210 100% 96%;
    --sidebar-accent-foreground: 210 100% 33%;
    --sidebar-border: 220deg 13.04% 90.98%;
    --sidebar-ring: 180 100% 37%;

    --chart-1: 210 100% 66%;
    --chart-2: 210 100% 55%;
    --chart-3: 210 100% 42%;
    --chart-4: 210 100% 33%;
    --chart-grid: 220 14% 96%;
  }

  .dark {
    --background: 220 23% 11%;
    --foreground: 0 0% 100%;

    --muted: 220 23% 15%;
    --muted-foreground: 220 9% 46%;

    --popover: 220 23% 11%;
    --popover-foreground: 0 0% 100%;

    --card: 220 23% 11%;
    --card-foreground: 0 0% 100%;

    --header: 220 23% 15%;
    --header-foreground: var(--foreground);

    --border: 0, 0%, 20%;
    --input: 220 23% 15%;

    --primary: 180 100% 37%;
    --primary-foreground: 0 0% 100%;

    --secondary: 220 9% 18%;
    --secondary-foreground: 0 0% 100%;

    --tertiary: 220 23% 15%;
    --tertiary-foreground: 0 0% 100%;

    --accent: 210 100% 42% 20%;
    --accent-foreground: 210 100% 85%;

    --destructive: 0 100% 65%;
    --destructive-foreground: 0 0% 100%;

    --ring: 180 100% 37%;

    --primary-accent: 180 100% 37%;
    --muted-primary-accent: 180 100% 29%;

    --muted-blue: 180 100% 41%;
    --muted-green: 180 100% 41%;
    --muted-magenta: 180 100% 41%;
    --muted-gray: 220 23% 15%;

    --light-red: 0 100% 65%;
    --dark-red: 0 100% 65%;

    --light-yellow: 180 100% 41%;
    --dark-yellow: 180 100% 37%;

    --light-green: 210 100% 42% 20%;
    --dark-green: 210 100% 85%;

    --light-blue: 210 100% 42% 20%;
    --dark-blue: 210 100% 85%;

    --accent-light-green: 210 100% 42% 20%;
    --accent-dark-green: 210 100% 85%;

    --accent-light-blue: 210 100% 42% 20%;
    --accent-dark-blue: 210 100% 85%;

    --radius: 0.625rem;

    --sidebar-background: 220 23% 11%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 180 100% 37%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 210 100% 42% 20%;
    --sidebar-accent-foreground: 210 100% 85%;
    --sidebar-border: 0, 0%, 20%;
    --sidebar-ring: 180 100% 37%;

    --chart-1: 210 100% 66%;
    --chart-2: 210 100% 55%;
    --chart-3: 210 100% 42%;
    --chart-4: 210 100% 33%;
    --chart-grid: 220 23% 15%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }

  html,
  body,
  div#__next,
  div#__next>div {
    height: 100%;
  }
}

@layer base {

  input[type="number"].appearance-none::-webkit-inner-spin-button,
  input[type="number"].appearance-none::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"].appearance-none {
    -moz-appearance: textfield;
    appearance: none;
  }
}

/* Custom styles for react-grid-layout resize handle */
.react-resizable-handle {
  position: absolute;
  bottom: 5px !important;
  right: 5px !important;
  background-image: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
  color: hsl(var(--muted-foreground));
}

.react-resizable-handle::after {
  content: "";
  width: 10px !important;
  height: 10px !important;
  border-right: 2px solid currentColor !important;
  border-bottom: 2px solid currentColor !important;
}

/* Custom animation for spinner opacity */
@keyframes spinner-opacity {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}

.animate-spinner-opacity {
  animation: spinner-opacity 2s ease-in-out infinite alternate;
}